{% extends '::admin.html.twig' %}

{% block css %}
    {{ parent() }}

    <link type="text/css" href="{{ asset('css/smoothness/jquery-ui-1.8.21.custom.css') }}" rel="stylesheet" />

{% endblock %}

{% block script %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/ui/i18n/jquery.ui.datepicker-it.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#album_date').datepicker();
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Edit "{{ entity.title }}"</h1>
    <div class="test"></div>

    <form action="{{ path('admin_album_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} novalidate>
        <table>
            <tr class="odd">
                <td>{{ form_label(edit_form.date) }}</td>
                <td>
                    {{ form_errors(edit_form.date) }}
                    {{ form_widget(edit_form.date) }}
                </td>
            </tr>
            <tr class="even">
                <td>{{ form_label(edit_form.title) }}</td>
                <td>
                    {{ form_errors(edit_form.title) }}
                    {{ form_widget(edit_form.title) }}
                </td>
            </tr>
            <tr class="odd">
                <td>{{ form_label(edit_form.subtitle) }}</td>
                <td>
                    {{ form_errors(edit_form.subtitle) }}
                    {{ form_widget(edit_form.subtitle) }}
                </td>
            </tr>
            <tr class="even">
                <td>Photos</td>
                <td>
                    <ul class="admin-photos" data-prototype="{{
                    form_widget(edit_form.photos.get('prototype')) | e }}">
                        {% for k, photo in edit_form.photos %}
                            <li>
                                {% if entity.photos[k].image != '' %}
                                    <div class="announce-icon">
                                        <img src="{{ asset(['uploads/photo/thumb/',
                                        entity.photos[k].image] | join) }}" /><br/>
                                        <button>Delete Image</button><br/><br/>
                                    </div>
                                {% endif %}
                                {{ form_row(photo.file) }}
                                {{ form_row(photo.caption) }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>

            {{ form_rest(edit_form) }}

            <tr class="odd">
                <td colspan="2">
                    <button type="submit">Edit</button>
                </td>
            </tr>
        </table>
    </form>

    <div>
        <h3>Aggiungi immagine</h3>
        <form action="{{ path('admin_photo_add') }}" method="post" {{ form_enctype(photo_form) }}>
            {{ form_widget(photo_form.file) }}<br/>
            <label>Didascalia</label>
            {{ form_widget(photo_form.caption) }}
            {{ form_rest(photo_form) }}<br/>
            <input type="hidden" name="album_num" value="{{ entity.id }}" />
            <input type="submit" value="Aggiungi" />
        </form>
    </div>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_album') }}">
                Back to the list
            </a>
        </li>
        <li>
            <form action="{{ path('admin_album_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
{% endblock %}
