{% extends '::admin.html.twig' %}

{% block content %}
    <h1>Album list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Title', 'a.title')|raw }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Date', 'a.date')|raw }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for i, entity in pagination %}
            <tr class="{{ cycle(['odd', 'even'], i) }}">
                <td><a href="{{ path('admin_album_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_album_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_album_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_album_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
