{% extends '::admin.html.twig' %}

{% block content %}
    <h1>News</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>{{ pagination.sortable('Date', 'p.date')|raw }}</th>
                <th>{{ pagination.sortable('Title', 'p.title')|raw }}</th>
                <th>Icon</th>
                <th>Text</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for i, entity in pagination %}
            <tr class="{{ cycle(['odd', 'even'], i) }}">
                <td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}</td>
                <td><a href="{{ path('admin_post_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.icon }}</td>
                <td>{{ entity.text }}</td>
                <td>{{ entity.slug }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_post_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_post_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ pagination.render()|raw }}
    </div>

    <ul>
        <li>
            <a href="{{ path('admin_post_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
