<div class="post">    
    <div class="post-head">
        <div class="gig-date">
            {{ gig.date|date('d/m/Y') }}
        </div>
        <div class="gig-venue">
            @{{ gig.venue|title }}
        </div>
        <div class="gig-title">
            <a href="{{ path('HellspiteGigBundle_show', {'slug': gig.slug}) }}">{{ gig.title|title }}</a>
        </div>
        <div style="clear:both"></div>
    </div>

    <div class="post-content">
        {% if gig.icon != '' %}
            <img src="{{ asset(['uploads/gig/thumb/', gig.icon] | join) }}" />
        {% endif %}
    {{ gig.text|raw }}
    </div>
</div>

